
    <div>
        <label>Hero name:
          <input #heroName />
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(heroName.value); heroName.value=''">
          add
        </button>
    </div>

<ul class="heroes">
    <!-- Angualr calls onSelect method with the hero objecct displayed in the clicked -->
  <li *ngFor="let hero of heroes">
      <!-- (click)="onSelect(hero)"
      [class.selected]="hero === selectedHero"   -->
    
    <!-- class binding: easy to add/remove a CSS class conditionally -->
    <!-- When curr row hero is same as the selectedHero, Angular adds the selected CSS class important  -->
    <!-- <span class="badge">{{hero.id}}</span> {{hero.name}}// -->


    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>



  </li>
</ul>

